@inherits LayoutComponentBase


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar >
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@OnClickMenu" />
        Manager
    </MudAppBar>
    <MudDrawer Open="DrawerIsOpen"  >
        <MudPaper Width="250px" Class="py-3" Square="true">
            <MudNavMenu>
             <MudIconButton Class="px-6 pt-5" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@OnClickMenu" />

                <MudText Typo="Typo.h6" Class="px-4">Bem vindo</MudText>
                <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Admin</MudText>
                <MudDivider Class="my-2" />
                <MudNavGroup Title="Cadastros" Expanded="true">
                    <MudNavLink Href="/users">Classificação de Produtos</MudNavLink>
                    <MudNavLink Href="/security">Produtos</MudNavLink>
                </MudNavGroup>

            </MudNavMenu>
        </MudPaper>
    </MudDrawer>
    <MudMainContent>
        <div style="padding:15px">
            @Body
        </div>

    </MudMainContent>
</MudLayout>


@code {

    public bool DrawerIsOpen { get; set; }


    public void OnClickMenu()
    {
        DrawerIsOpen = !DrawerIsOpen;
    }
}